@model IEnumerable<MooshakV2.ViewModels.AssignmentViewModel>

@{
    ViewBag.Title = "List";
}

<h2>Assignments</h2>

<table class="table table-hover">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Weight
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-default">
                <span id="but" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Details
            </a>
        </td>
    </tr>
}

</table>

<!-- User Detail Modal -->
<div class="modal fade" id="assignmentDetails" tabindex="-1" role="dialog" aria-labelledby="assignmentDetailsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="assignmentTitle"></h4>
            </div>
            <div class="modal-body">
                <dt>
                    Description
                </dt>
                <dd id="assignmentDescr"></dd>
                <dt>
                    Weight
                </dt>
                <dd id="assignmentWeight"></dd>
                <dt>
                    ID
                </dt>
                <dd id="assignmentID"></dd>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
        @Scripts.Render("~/Scripts/StudentDetailModal.js")

}
    