@model IEnumerable<MooshakV2.ViewModels.AssignmentViewModel>

@{
    ViewBag.Title = "List";
}

<h2>Assignments</h2>

<table class="table table-hover">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Weight
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            <button type="button"
                    class="btn btn-default modalDetailButton"
                    data-tooltip="true"
                    data-placement="top"
                    title="Assignment details"
                    data-toggle="modal"
                    data-target="#assignmentDetails"
                    data-title="@item.title"
                    data-descr="@item.description"
                    data-weight="@item.weight"
                    data-courseID="@item.courseId">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Details
            </button>
            <button type="button"
                    class="btn btn-default modalSubmitButton" 
                    data-tooltip="true"
                    data-placement="top"
                    title="Assignment hand in"
                    data-toggle="modal"
                    data-target="#handin"
                    data-assignmentID="@item.id">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                Hand in
            </button>
        </td>
    </tr>
}

</table>

<!-- User Detail Modal -->
<div class="modal fade" id="assignmentDetails" tabindex="-1" role="dialog" aria-labelledby="assignmentDetailsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="assignmentTitle"></h4>
            </div>
            <div class="modal-body">
                <dt>
                    Description
                </dt>
                <dd id="assignmentDescr"></dd>
                <dt>
                    Weight
                </dt>
                <dd id="assignmentWeight"></dd>
                <dt>
                    ID
                </dt>
                <dd id="assignmentID"></dd>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!--  Hand in Modal -->
<div class="modal fade" id="handin" tabindex="-1" role="dialog" aria-labelledby="assignmentDetailsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Hand in</h4>
            </div>
            <div class="modal-body">
               @using (Html.BeginForm("uploadFile", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {
                   <input type="hidden" name="assignmentId" id="uploadId" />
                @Html.ValidationSummary();
                <table>
                    <tr>
                        <td>File:</td>
                        <td><input type="file" name="file" id="file" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="submit" value="Hand in" /></td>
                    </tr>
                </table>
               }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
        @Scripts.Render("~/Scripts/AssignmentDetailModal.js")

}
    