@model MooshakV2.ViewModels.CourseDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
        <table class="table">
            <thead>
            <th>
                @Model.course.title
            </th>
            <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.course.description</td>
                </tr>
                <tr>
                    <td>Assignments:</td>
                </tr>

                @foreach (var item in Model.assignmentList)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title);
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <br />
        @Html.ActionLink("Edit", "Edit", new { id = Model.course.id }, new { @class = "btn btn-default" })
        <a href="@Url.Action(" Index")" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back to List
        </a>
</div>

