@model MooshakV2.ViewModels.CourseDetailViewModel

    @{
    ViewBag.Title = "details";
    }

    <h2>Details</h2>

    <div>
        <h4>CourseDetailViewModel</h4>
        <hr />
    </div>

    <table class="table">
        <thead>
            <th>
                @Model.course.title
            </th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>@Model.course.description</td>
            </tr>
            <tr>
                <td>Assignments:</td>
            </tr>
            
            @foreach (var item in Model.assignmentList)
            {<tr>
             <td>
            @Html.DisplayFor(modelItem => item.title);
            </td>
            </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.course.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
