@model IEnumerable<MooshakV2.ViewModels.CourseViewModel>

    @{
    ViewBag.Title = "List";
    }

    <h2>Courses</h2>


    @using (Html.BeginForm("List", "User", FormMethod.Get, new { @class = "form-inline" }))
    {
        <a href="@Url.Action("Create")" class="btn btn-default" data-tooltip="true" data-placement="right" title="Create new user">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    }

    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.title)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.description)
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model)
        {
        <tr>
            <td data-Name="@item.title">
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td class="data-Descr">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <a href="@Url.Action("Edit", new {id=item.id})"
                       class="btn btn-default"
                       data-tooltip="true"
                       data-placement="left"
                       title="Edit course information">
                        <span id="but" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <button type="button"
                            class="btn btn-default modalDetailButton"
                            data-tooltip="true"
                            data-placement="top"
                            title="Course details"
                            data-toggle="modal"
                            data-target="#courseDetails"
                            data-title="@item.title"
                            data-descr="@item.description">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default modalDeleteButton"
                            data-tooltip="true"
                            data-placement="right"
                            title="Delete course"
                            data-toggle="modal"
                            data-target="#deleteCourse"
                            data-title="@item.title"
                            data-descr="@item.description"
                            data-id="@item.id">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
        }
        <tr>
            <th>
                <div>
                    <a href="@Url.Action("Create")"
                       class="btn btn-default"
                       data-tooltip="true"
                       data-placement="right"
                       title="Create new course">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New Course
                    </a>
                </div>
            </th>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>


    <!-- Course Detail Modal -->
    <div class="modal fade" id="courseDetails" tabindex="-1" role="dialog" aria-labelledby="courseDetailsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="courseTitle"></h4>
                </div>
                <div class="modal-body">
                    <dt>
                        Description
                    </dt>
                    <dd id="courseDescription"></dd>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete Course Modal -->
    <div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="deleteCourseLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Delete", "Course", FormMethod.Post, new { @id="deleteCourseForm" }))
                {
                @Html.AntiForgeryToken();

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="toDelTitle"></h4>
                </div>
                <div class="modal-body">
                    <dt>
                        Description
                    </dt>
                    <dd id="toDelDescr"></dd>
                </div>

                <input type="hidden" id="deleteID" />

                <div class="modal-footer">
                    <button class="btn btn-default" type="submit" value="Delete" id="delBut">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete Course
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Close
                    </button>
                </div>
                }
            </div>
        </div>
    </div>


 @section scripts
 {
    @Scripts.Render("~/Scripts/CourseDetailModal.js")
    @Scripts.Render("~/Scripts/CourseDeleteModal.js")
    @Scripts.Render("~/Scripts/CourseEditModal.js")
 }
