@model IEnumerable<MooshakV2.ViewModels.UserViewModel>

@{
    ViewBag.Title = "list";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { userName = item.userName }) |
            @Html.ActionLink("Details", "Details", new { userName = item.userName }) |
            @Html.ActionLink("Delete", "Delete", new { userName = item.userName })
        </td>
    </tr>
}

</table>
