@model IEnumerable<MooshakV2.ViewModels.UserDetailViewModel>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

@using (Html.BeginForm("List", "User", FormMethod.Get, new { @class= "form-inline" }))
{
    <a href="@Url.Action("Create")" class="btn btn-default" data-tooltip="true" data-placement="right" title="Create new user">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <div class="pull-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." id="search" name="search"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
}

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userModel.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userModel.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userModel.roleName)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userModel.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userModel.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userModel.roleName)
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <a href="@Url.Action("Edit", new {userName = item.userModel.userName})"
                       class="btn btn-default"
                       data-tooltip="true"
                       data-placement="left"
                       title="Edit user information">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <button type="button"
                            class="btn btn-default modalDetailButton"
                            data-tooltip="true"
                            data-placement="top"
                            title="User details"
                            data-toggle="modal"
                            data-target="#userDetails"
                            data-name="@item.name"
                            data-uname="@item.userModel.userName"
                            data-email="@item.userModel.email"
                            data-ssn="@item.ssn"
                            data-role="@item.userModel.roleName">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default modalDeleteButton"
                            data-tooltip="true"
                            data-placement="right"
                            title="Delete user"
                            data-toggle="modal"
                            data-target="#deleteUser"
                            data-name="@item.name"
                            data-uname="@item.userModel.userName"
                            data-email="@item.userModel.email"
                            data-ssn="@item.ssn"
                            data-role="@item.userModel.roleName">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
    }

</table>



<!-- User Detail Modal -->
<div class="modal fade" id="userDetails" tabindex="-1" role="dialog" aria-labelledby="userDetailsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userDetailsLabel"></h4>
            </div>
            <div class="modal-body">
                <dt>
                    User Name
                </dt>
                <dd id="userName"></dd>

                <dt>
                    Email
                </dt>
                <dd id="email"></dd>

                <dt>
                    SSN
                </dt>
                <dd id="ssn_detail"></dd>

                <dt>
                    Role
                </dt>
                <dd id="role"></dd>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Delete", "User", FormMethod.Post, new { @id="deleteUserForm" }))
            {
                @Html.AntiForgeryToken();

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteUserLabel"></h4>
                </div>
                <div class="modal-body">
                    <dt>
                        User Name
                    </dt>
                    <dd id="toDelUserName"></dd>

                    <dt>
                        Email
                    </dt>
                    <dd id="toDelEmail"></dd>

                    <dt>
                        SSN
                    </dt>
                    <dd id="toDelSsn"></dd>

                    <dt>
                        Role
                    </dt>
                    <dd id="toDelRole"></dd>
                </div>

                
                <div class="modal-footer">
                    <button class="btn btn-default" type="submit" value="Delete" id="delBut">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete User
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Close
                    </button>
                </div>
            }
        </div>
    </div>
</div>



@section scripts
{
    @Scripts.Render("~/Scripts/renderTooltips.js")
    @Scripts.Render("~/Scripts/UserDeleteModal.js")
    @Scripts.Render("~/Scripts/UserDetailModal.js")
    @Scripts.Render("~/Scripts/noScrollBar.js")
}

