@model MooshakV2.ViewModels.UserDetailViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.userModel.userName</h4>
        @Html.HiddenFor(model => model.userModel.userName)
        @Html.HiddenFor(m => m.ssn)
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userModel.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userModel.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userModel.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userModel.roleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.userModel.roleName, ViewData["roleList"] as IEnumerable<SelectListItem>, new {@class = "form-control" })
                @Html.ValidationMessageFor(model => model.userModel.roleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <a href="@Url.Action("Index", new {userName = Model.userModel.userName})"
                   class="btn btn-default"
                   data-tooltip="true"
                   data-placement="top"
                   title="Back to list">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
}


