@model IEnumerable<MooshakV2.ViewModels.SubmissionViewModel>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<div class="row">
    <div class="col-md-8">
        <a href="@Url.Action("List")" class="btn btn-default" data-tooltip="true" data-placement="right" title="Go back to Assignments">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-4 right">
        @using (Html.BeginForm("showSubmissionsFromAssignment", "Assignment", FormMethod.Get, new { @class = "form-inline" }))
        {
            @Html.DropDownList("id", ViewData["Assignmentlist"] as IEnumerable<SelectListItem>
            , new { @class = "form-control" })
            <input type="submit" value="Filter" class="btn btn-default" />
        }
    </div>
</div>

<br />


<table class="table">
    <tr>
        <td>
            ID
        </td>
        <td>
            Course
        </td>
        <td>
            Assignment
        </td>
        <td>
            Assignment Part
        </td>
        <td>
            Success
        </td>
        <td>
            Count
        </td>
        <td>
            Date
        </td>
        <td>
            File Name
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            Siddi
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.success)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.filename)
        </td>
    </tr>
}

</table>


@section scripts
{
    @Scripts.Render("~/Scripts/renderTooltips.js")
}