@model MooshakV2.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Weight
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            Course ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back to List
            </a>
        </div>
    }
</div>
